<%- include('../layouts/main-layout.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<%- include('../layouts/partials/navigation.ejs') %>

    <main>
        <% if (!orders.length) { %>
            <h1>Nothing there!</h1>
        <% } else { %>
            <ul>
                <% orders.forEach(order => { %>
                <li>
                    <h1>
                        # <%= order._id %></li>
                    </h1>
                    <ul>
                        <% order.products.forEach(p => { %>
                        <li>
                            <%= p.productData.title %> (<%= p.quantity %>)
                        </li>
                        <% }) %>
                    </ul>
                <% }) %>
            </ul>
        <% } %>
    </main>
    <%- include('../layouts/partials/end.ejs') %>